@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mp262m');
  src:  url('fonts/icomoon.eot?mp262m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mp262m') format('truetype'),
    url('fonts/icomoon.woff?mp262m') format('woff'),
    url('fonts/icomoon.svg?mp262m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-publications:before {
  content: "\e912";
}
.icon-films:before {
  content: "\e90d";
}
.icon-maps:before {
  content: "\e90e";
}
.icon-archive:before {
  content: "\e911";
}
.icon-duration:before {
  content: "\e906";
}
.icon-pause:before {
  content: "\e998";
}
.icon-sound-on:before {
  content: "\e996";
}
.icon-sound-off:before {
  content: "\e997";
}
.icon-download1:before {
  content: "\e995";
}
.icon-preview:before {
  content: "\e994";
}
.icon-external-link:before {
  content: "\e992";
}
.icon-send:before {
  content: "\e98f";
}
.icon-arrow-left2:before {
  content: "\e98d";
}
.icon-arrow-right2:before {
  content: "\e98e";
}
.icon-note:before {
  content: "\e98c";
}
.icon-play:before {
  content: "\e98b";
}
.icon-telephone-filled:before {
  content: "\e986";
}
.icon-location-filled:before {
  content: "\e987";
}
.icon-user-rounded:before {
  content: "\e989";
}
.icon-message-2:before {
  content: "\e983";
}
.icon-email1:before {
  content: "\e955";
}
.icon-info:before {
  content: "\e97c";
}
.icon-gear:before {
  content: "\e97e";
}
.icon-home1:before {
  content: "\e94e";
}
.icon-tick:before {
  content: "\e94c";
}
.icon-master:before {
  content: "\e94a";
}
.icon-whatsapp:before {
  content: "\e948";
}
.icon-tel:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e943";
}
.icon-world2:before {
  content: "\e941";
}
.icon-notification:before {
  content: "\e942";
}
.icon-telegram:before {
  content: "\e930";
}
.icon-threads:before {
  content: "\e93f";
}
.icon-messenger:before {
  content: "\e940";
}
.icon-calendar:before {
  content: "\e92f";
}
.icon-user2:before {
  content: "\e932";
}
.icon-location2:before {
  content: "\e933";
}
.icon-address:before {
  content: "\e933";
}
.icon-edit:before {
  content: "\e934";
}
.icon-key:before {
  content: "\e935";
}
.icon-location21:before {
  content: "\e937";
}
.icon-logout:before {
  content: "\e938";
}
.icon-email:before {
  content: "\e939";
}
.icon-map:before {
  content: "\e93a";
}
.icon-upload:before {
  content: "\e93b";
}
.icon-heart:before {
  content: "\e927";
}
.icon-login:before {
  content: "\e928";
}
.icon-search2:before {
  content: "\e929";
}
.icon-settings:before {
  content: "\e92c";
}
.icon-shopping-bag:before {
  content: "\e92d";
}
.icon-user:before {
  content: "\e92e";
}
.icon-menu2:before {
  content: "\e925";
}
.icon-quote:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e921";
}
.icon-twitter:before {
  content: "\e917";
}
.icon-twitch:before {
  content: "\e91d";
}
.icon-email2:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-tiktok:before {
  content: "\e915";
}
.icon-vimeo:before {
  content: "\e919";
}
.icon-whatsapp1:before {
  content: "\e91a";
}
.icon-wikipedia:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e91f";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-arrow-top:before {
  content: "\e922";
}
.icon-arrow-bottom:before {
  content: "\e923";
}
.icon-pdf-file:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e926";
}
.icon-mobile1:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e90b";
}
.icon-view:before {
  content: "\e909";
}
.icon-world:before {
  content: "\e92b";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e96a";
}
.icon-home:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e913";
}
.icon-fax1:before {
  content: "\e900";
}
